header {
  background-color: aqua;
}

main {
  #dollar {
    display: none;
   
    form {
      width: 80vw;

      div {
        display: block;
        align-items: center;
        margin: auto;
      }
    }
  }
  #othercurr{
    display: none;
    
  }
}

footer {
  background-color: red;
}
