header {
  background-color: aqua;
}

main {
  display: block;
  margin: auto;

  #dollar {
    display: none;
    margin: auto;

    form {
      width: 80vw;

      div {
        display: block;
        align-items: center;
        margin: auto;
      }
    }
  }
  #othercurr {
    display: none;
  }
}

footer {
  background-color: red;
}
