header {
  background-color: aqua;
}
main {
  background-color: aliceblue;
  div {
    background-color: aquamarine;
  }
  form {
    width: 80vw;
    
   div{
    display: block;
    align-items: center;
    margin: auto;
   }
  }
}

footer {
  background-color: red;
}
